name: Qodana
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest -n

      - name: Run Qodana
        uses: jetbrains/qodana-action@v2022.1.1
        with:
          linter: ghcr.io/shyim/qodana-php:latest
          upload-result: true
          use-annotations: true
